# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

/thumbs/*
!/thumbs/index.html

/site/cache/*
!/site/cache/index.html

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Kirby accounts
# ---------------

/site/accounts/*
!/site/accounts/index.html

# Avatars
# ---------------

/assets/avatars/*
!/assets/avatars/index.html

#
# general
#
logs
*.log
pids
*.pid
*.seed
lib-cov
.grunt
.lock-wscript
build/Release
node_modules
.sass-cache

#
# ilmente.com
#
/assets
/content
/kirby
/panel
/thumbs
/site/accounts
/site/cache
/site/config
/site/controllers
.htaccess
index.php
license.md
readme.md
