/**
 *
 * @name: typewriter
 * @author: Alessandro Bellini <hello@ilmente.com>
 *
 */

@font-face {
  font-family: $font-family-main;
  font-style: $font-style;
  font-weight: $font-weight;
  src: url('../fonts/twr.otf') format('truetype');
}

