/**
 *
 * @name: typewriter
 * @author: Alessandro Bellini <hello@ilmente.com>
 *
 */

@mixin viewport($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

@mixin transition($props: all, $duration: 300ms, $ease: ease-in-out) {
  $transition: null;

  @each $prop in $props {
    $transition: $prop $duration $ease, $transition
  }

  transition: $transition;
}

