/**
 *
 * @name: typewriter
 * @author: Alessandro Bellini <hello@ilmente.com>
 *
 */

// colors
$color-main: #b92c25;
$color-alt: #fff7a3;

$color-bg: #fbfbfb;
$color-bg-display: rgba($color-bg, 0.95);

$color-text: #333333;
$color-text-alt: #bbbbbb;
$color-text-selection: #fff7a3;

// font
$font-family-main: 'twr';
$font-family: $font-family-main, 'Courier', monospace;
$font-size: 130%;
$font-weight: 400;
$font-style: 400;
$font-line-height: 1.3rem;

// text
$text-indent: 3ch;

// page
$page-width: 38rem;

// viewport breakpoints
$bp-tablet: 750px;
$bp-phone: 540px;

