/**
 *
 * @name: typewriter
 * @author: Alessandro Bellini <hello@ilmente.com>
 *
 */

@font-face {
  font-family: 'TwR';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/twr.otf') format('truetype');
}

