/**
 *
 * @author: Alessandro Bellini <hello@ilmente.com>
 *
 */

.frame {
    max-width: $pageWidth;
    margin: auto;
    padding: 0 $lineHeight;
}

.header {
    margin: $lineHeight*2 0;

    @include viewport($phone) {
        margin-top: 0;
    }

    ul {
        display: inline-block;
    }
}

.navigation {
    float: right;
    display: inline-block;
    padding: 0 0 0 $lineHeight;
    text-align: right;

    li.is-active a {
        color: $colorText;

        &:hover {
            text-decoration: none;
        }
    }
}

.footer {
    margin: $lineHeight*3 0;
    text-align: center;
    color: $colorTextAlt;

    @include viewport($phone) {
        margin-bottom: $lineHeight;
    }

    p {
        margin: 0;
        text-indent: 0;
    }
}


