/**
 *
 * @author: Alessandro Bellini <hello@ilmente.com>
 *
 */

// colors
$colorBg: #FFFFFF;
$colorText: #333333;
$colorTextAlt: #BBBBBB;
$colorMain: #B92C25;
$colorAlt: #FFF7A3;

// fonts
$fontMain: 'TwR', 'Courier', monospace;
$fontSize: 110%;
$lineHeight: 1.4rem;
$textIndent: 3ch;

// page
$pageWidth: 38rem;

// headers
$headers: 1 2 3 4 5 6;

// viewports
$phone: 540px;

