/**
 *
 * @name: typewriter
 * @author: Alessandro Bellini <hello@ilmente.com>
 *
 */
 
.c-footer {
    margin: $font-line-height*2 0;
    text-align: center;
    color: $color-text-alt;

    @include viewport($bp-phone) {
        margin-bottom: $font-line-height;
    }

    p {
        margin: 0;
        text-indent: 0;
    }
}