/**
 *
 * @name: typewriter
 * @author: Alessandro Bellini <hello@ilmente.com>
 *
 */

.c-navigation {
    @include clearfix;
    float: right;
    display: inline-block;
    padding: 0 0 0 $font-line-height*2;

    &__menu {
        display: inline-block;
        text-align: right;
    }

    &__item {
        &::before {
            content: none;
        }
    }

    &__link {
        &.is-active {
            color: $color-text;
            text-decoration: none;
        }
    }
}