/**
 *
 * @name: typewriter
 * @author: Alessandro Bellini <hello@ilmente.com>
 *
 */

.c-viewer-grid {
    &__row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: space-between;
        padding: 1ch;
    }

    &__figure {
        padding: 1ch;
    }

    &__caption {
        @include viewport($bp-tablet) {
            display: none;
        }
    }

    &--cols-1 &__figure,
    &--last-1 &__figure:last-child {
        flex-basis: 100%;
        max-width: 100%;
    }

    &--cols-2 &__figure,
    &--last-2 &__figure:last-child,
    &--last-2 &__figure:nth-last-child(2) {
        flex-basis: 50%;
        max-width: 50%;
    }

    &--cols-3 &__figure,
    &--last-3 &__figure:last-child,
    &--last-3 &__figure:nth-last-child(2),
    &--last-3 &__figure:nth-last-child(3) {
        flex-basis: 33%;
        max-width: 33%;

        @include viewport($bp-phone) {
            flex-basis: 50%;
            max-width: 50%;
        }
    }

    &--cols-3 &__figure:last-child,
    &--last-3 &__figure:last-child {
        @include viewport($bp-phone) {
            flex-basis: 100%;
            max-width: 100%;
        }
    }

    &--cols-4 &__figure,
    &--last-4 &__figure:last-child,
    &--last-4 &__figure:nth-last-child(2),
    &--last-4 &__figure:nth-last-child(3),
    &--last-4 &__figure:nth-last-child(4) {
        flex-basis: 25%;
        max-width: 25%;

        @include viewport($bp-phone) {
            flex-basis: 50%;
            max-width: 50%;
        }
    }
}
